div {
    border-radius: "20px";
    padding: "20px 24px";
    width: "352px";
    background-color: "#FFFFFF";
    color: "#333";
    font-size: "14px";
  }
  
  .section {
    border-bottom: "1px solid #C6C7CE";
    padding-bottom: "24px";
    margin-bottom: "24px";
  }
  
  h3 {
    color: "#232134";
    font-weight: 700;
    font-size: 20;
    margin-bottom: 16;
  }
  
  h4 {
    color: "#232134";
    font-size: 14;
    font-weight: 600;
    margin-bottom: 4;
  }
  
  /* a {
    color: "#763212";
    display: "inline-block";
    text-decoration: "none";
    font-weight: 500;
    margin: "20px 0";
    cursor: "pointer";
  } */
  
  .data {
    margin-bottom: "20px";
  }
  
  .text {
    font-size: "14px";
  }
  
  